html {
    height: 100%;
}
body {
    background-image: linear-gradient(to bottom right, #ffecc7, #f5b971);
    overflow: auto;
    height: 100%;
    font-family: 'Baloo Paaji 2', cursive;
}

.panel {
    display: none;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    border-radius: 0;
    transition: all 0.7s;
}

.activeAccor, .panel.active {
    background-color:#85a392;
    border-radius: 25px;
    display: block;
    max-height: fit-content;
}

.container h3 {
    margin: 0;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin: auto;
    
}

.accordion{
    text-align: center;
    border-radius: 25px;
    background-color: #85a392;
    margin: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.accordion:hover {
    background-color:#937d14;
}

.activeAccor {
    background-color: #d2c6b2;
}

.accordion h3 {
    display: flex;
    flex-direction: column;
}

.accor1 {order: 1;}
.accor2 {order: 2;}
.accor3 {order: 3;}
.accor4 {order: 4;}

.happyButton {
    display: flex;
    justify-content: center;
}