body {
    background-color: #dbdbdb;
    padding: 20px;
}

#brandName {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #cf7500, #442727);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.info table td {
    vertical-align: top;
}

.buttonDiv{
    vertical-align: middle;
}

.submitButton {
    display: flex;
    flex-direction: row;
}

.buffer {
    width: 10px;
}