{% extends 'includes/base.html' %}
{% load static %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <div class="container">
        <div class="info">
            <h3>
                Apa anda yakin mengirim pesan ini?
            </h3>
            <table>
                <tr>
                    <td><p><strong>Nama</strong></p></td>
                    <td><p>:</p></td>
                    <td><p>{{nama}}</p></td>
                </tr>
                <tr>
                    <td><p><strong>Pesan</strong></p></td>
                    <td><p>:</p></td>
                    <td><p>{{pesan}}</p></td>
                </tr>
            </table>
        </div>
        <div class="submitButton">
            <div>
                <form action="/showforms/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="nama" value="{{ nama }}">
                    <input type="hidden" name="pesan" value="{{ pesan }}">

                    <button type="submit" class="btn btn-success" value="Confirm" name="confirm">Submit</button>
                </form>
            </div>

            <div class="buffer"></div>

            <div>
                <form action="/" method="GET">
                    <button type="submit" class="btn btn-danger" value="Cancel" name="cancel">Cancel</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}