{% extends 'includes/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Pesan Mata Angin{% endblock %}

{% block body %}

    <div class="container headerName text-center">
        <h1>Selamat datang di <span id="brandName">Pesan Mata Angin</span></h1>
    </div>

    <hr>

    <div class="container formDiv">
        <form action="confirmation/" method="post" class="form-group">
            <table>
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <tr>
                    <td></td>
                    <td class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary" name="submitButton">Submit</button>
                    </td>
                </tr>
            </table>
            
        </form>
    </div>

    <hr>

    <div class="container tableData">
        <table class="table">
            {% for person in person %}
                <tr style="background-color: rgb({{ person.warnaR }}, {{ person.warnaG }}, {{ person.warnaB }});" name="messageBox">
                    <td>{{ person.nama }}</td>
                    <td>
                        <div class="buffer" style="width: 50px;"></div>
                    </td>
                    <td>{{ person.pesan }}</td>
                    <td>
                        <div class="buffer" style="width: 50px;"></div>
                    </td>
                    <td class="buttonDiv">
                        <a href="{% url 'formsStory7:changeColor' pkTarget=person.pk %}">
                            <button class="btn btn-primary" name="changeColor">Change Color</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}