{% extends 'includes/base2.html' %}
{% load static %}

{% block title %}Accordion{% endblock %}

{% block body %}
    <div class="container">

        <div class="accor1 accordion">
            <h3>Tentang Saya <span><button class="up">up</button><button class="down">down</button></button></span></h3>
            <div class="panel1 panel"><p>Halo, nama saya Sae Pasomba, namun teman-teman memanggil saya Sae. Saya lahir 24 Februari 2002 di Palangka Raya. Saya sangat senang mengamati hujan.</p></div>
        </div>

        <div class="accor2 accordion">
            <h3>Aktivitas Saat Ini <span><button class="up" name="up2">up</button><button class="down" name="down2">down</button></button></span></h3>
            <div class="panel2 panel"><p>Aktivitas saya saat ini hanya bermain game, mengerjakan tugas, dan berolah raga.</p></div>
        </div>

        <div class="accor3 accordion">
            <h3>Pengalaman Organisasi/Kepanitiaan <span><button class="up">up</button><button class="down">down</button></button></span></h3>
            <div class="panel3 panel">
                <p>BEM Fasilkom UI</p>
                <p>Mentor BETIS 2020</p>
                <p>OSIS SMA</p>
            </div>
        </div>

        <div class="accor4 accordion">
            <h3>Prestasi <span><button class="up">up</button><button class="down">down</button></button></span></h3>
            <div class="panel4 panel">
                <p>Bronze Medal Young Inventors Challenge</p>
                <p>Juara 1 Teknologi Tepat Guna, Tangerang Selatan</p>
            </div>
        </div>
    </div>

    <div class="happyButton">
        <button class="themeChanger themeChanger1">Change Theme!</button>
        <button class="accordionChanger accordionChanger1">Lame Accordion Shape?</button>
    </div>
{% endblock %}